* {
    text-align: center;
}

body {
    background-color: #bdb9b94c;
    opacity: 0.9;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;

}